/*--------------------------------
  リセットcss
--------------------------------*/
/* Box sizingの定義 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* デフォルトのpadding,margin,borderを削除 */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

/* フォントのcssリセット */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* bodyのデフォルトを定義 */
body {
  min-height: 100%;
  scroll-behavior: smooth;
  line-height: 1.5;
}

/* class属性を持つul、ol要素のリストスタイルを削除 */
ul[class],
ol[class] {
  list-style: none;
}

/* img要素の扱いを簡単にする */
img {
  max-width: 100%;
  display: block;
}

/* article要素内の要素に自然な流れとリズムを定義 */
article > * + * {
  margin-top: 1em;
}

/* inputやbuttonなどのフォントは継承を定義 */
input,
button,
textarea,
select {
  font: inherit;
}

/* リンクの下線表示を無くす */
a:link,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
}

/* レイアウトリセット */
article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

/* aのカーソルを変更 */
a {
  cursor: pointer;
}

/*--------------------------------
  フォント・色
--------------------------------*/
/* google fonts */
/* font-family: "Kosugi Maru", sans-serif; */

/* メインの色 */
.main-color {
  background: #fc4;
  border-color: #fc4;
}

/*--------------------------------
  外枠
--------------------------------*/
/* 全体 */
.wrapper {
  margin: 0 auto;
  width: 50%;
}

/* スタート画面・リザルト画面
--------------------------------*/
.main,
.result {
  border-radius: 25px;
  border-style: solid;
  border-width: 3px;
  margin-top: 200px;
}

.result {
  margin-top: 100px;
  padding: 10px;
}

/* タイトル */
.title-container {
  margin-top: 80px;
}

/* はじめる */
.start-container {
  height: 120px;
  margin-top: 45px;
}

/* 結果：ほし */
.star-box {
  /* color: #fff; */
  color: #ff3;
  font-size: 10rem;
  text-align: center;
  /* text-shadow: 0px 11px 5px #ddd; */
  text-shadow: 2px 5px 4px #ffd;
}

.star-off {
  color: #ffd;
}

/* 結果：コメント */
.result-comment {
  font-size: 5rem;
  padding-top: 10px;
  text-align: center;
}

.result-enemy-num-box {
  font-size: 3rem;
  text-align: center;
}

/* 結果：成績まとめ */
.result-grade {
  margin-top: 20px;
}

.result-replay-box {
  margin-top: 40px;
  margin-bottom: 20px;
}

/* ゲーム画面
--------------------------------*/
/* ロゴ */
.game-logo {
  font-size: 3.5rem;
  text-align: center;
  width: 100%;
}
/* 上部 ------------------------*/
.game-top {
  margin-top: 10px;
  overflow: hidden;
}
/* メイン */
.game-main,
.game-info-box {
  float: left;
  width: 60%;
}

.game-main,
.game-bottom {
  border-radius: 25px;
}

/* サブ */
/* 下部のサイド */
.game-sub,
.game-info-side {
  float: left;
  margin-left: 5%;
  width: 35%;
}

.game-info-side {
  margin-left: 0;
  width: 40%;
}

/* 相手の画面 */
.enemy-box {
  overflow: hidden;
}

/* 相手画面2分割 */
.enemy-box-1,
.enemy-box-2 {
  width: 50%;
  float: left;
}

.enemy-box-1 {
  margin-right: -35px;
}

.enemy-box-2 {
  padding-top: 35px;
}

/* 相手の名前 */
.enemy-name-box {
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

/* 相手の画像 */
.enemy-img-box {
  margin-bottom: 15px;
}

/* 相手のライフ */
.enemy-life-box {
  margin-bottom: 50px;
  text-align: center;
}

/* 相手のコメント欄 */
.enemy-comment-box {
  position: relative;
}

.enemy-comment-box2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 相手のアクション */
.enemy-action-box {
  margin-top: 35px;
}

.enemy-hoi-box {
  text-align: center;
  border: none;
}

/* サブ画面のコメント欄 */
.sub-comment-start {
  font-size: 3.5rem;
  text-align: center;
}

/* サブ画面のOKボタン */
.sub-start-box {
  margin-top: 20px;
}

/* サブ画面、選択時コメント */
.sub-comment-box {
  margin-top: 25px;
  text-align: center;
}

/* サブ画面、じゃんけんorホイ結果 */
.sub-play-result {
  position: relative;
}

/* サブ画面　じゃんけん */
/* サブ画面　あっちむいてホイ */
.janken-select-box {
  margin-top: 25px;
  overflow: hidden;
}

.hoi-select-box {
  margin-top: 65px;
}

.hoi-lr-box {
  overflow: hidden;
}

/* 下部------------------------- */
.game-bottom {
  border: solid 10px #fb9;
  margin-top: 30px;
  overflow: hidden;
}

/* インフォ */
.game-info-box {
  font-size: 2.5rem;
  padding: 10px 20px;
}

/* ライフ */
.game-life-box {
  font-size: 4rem;
  margin-top: 45px;
  text-align: center;
}

/*--------------------------------
  内側
--------------------------------*/
/* スタート画面・リザルト画面
--------------------------------*/
/* タイトル */
.h1.title {
  color: #e90;
  font-size: 6rem;
  letter-spacing: 1rem;
  text-align: center;
  text-shadow: 5px 5px 3px #ffffff, -5px 5px 3px #ffffff, 5px -5px 3px #ffffff,
    -5px -5px 3px #ffffff, 5px 0px 3px #ffffff, 0px 5px 3px #ffffff,
    -5px 0px 3px #ffffff, 0px -5px 3px #ffffff;
}

/* スタートボタン */
.startbutton {
  border-radius: 50%; /* 角丸       */
  font-size: 24pt; /* 文字サイズ */
  text-align: center; /* 文字位置   */
  cursor: pointer; /* カーソル   */
  padding: 17px 65px; /* 余白       */
  background: #663300; /* 背景色     */
  color: #ffffff; /* 文字色     */
  line-height: 1em; /* 1行の高さ  */
  transition: 0.3s; /* なめらか変化 */
  box-shadow: 6px 6px 3px #666666; /* 影の設定 */
  border: 2px solid #663300; /* 枠の指定 */
  display: block;
  margin: 0 auto;
}

.startbutton:hover {
  box-shadow: none; /* カーソル時の影消去 */
  color: #663300; /* 背景色     */
  background: #ffffff; /* 文字色     */
}

/* リザルト・星 */
.fa-star.-result:not(:last-child) {
  padding-right: 50px;
}

/* リザルト：相手の数 */
.result-enemy-num {
  font-size: 4rem;
}

/* ゲーム画面
--------------------------------*/
/* 相手の名前 */
.enemy-name {
  font-family: "Kosugi Maru", sans-serif;
  font-size: 2.5rem;
}

/* 相手の画像 */
.enemy-img {
  margin: 0 auto;
  width: 70%;
}

/* 相手のライフ */
.enemy-life {
  font-size: 2.8rem;
}

.enemy-life:not(:last-child) {
  padding-right: 7px;
}

/* ライフの色（敵味方同じ） */
.enemy-life.-h,
.my-life {
  color: red;
  text-shadow: 0px 0px 2px #000, 2px 2px 3px #000;
}

.enemy-life.-b,
.my-life.-broken {
  color: #000;
}

/* 相手のコメント画像 */
.enemy-comment-img {
  transform: scale(-1, 1);
}

/* 相手のコメント */
.enemy-comment {
  font-size: 2rem;
}

/* 相手のアクション */
.enemy-action-img {
  margin: 0 auto;
  width: 60%;
}

.enemy-hoi {
  background: #fff;
  border: none;
  border-radius: 50%;
  color: #47f;
  font-size: 11rem;
}

/* サブ画面コメント */
.sub-num {
  font-size: 5rem;
  padding-right: 1.5rem;
}

.sub-enemy-name {
  border-bottom: solid;
  font-family: "Kosugi Maru", sans-serif;
  padding: 0 20px 5px;
}

.sub-comment-bottom {
  line-height: 2.5;
}

.select-comment {
  font-size: 2rem;
}

.select-comment.hidden {
  visibility: hidden;
}

.sub-result-comment {
  font-size: 6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sub-result-comment.win {
  color: red;
}

.sub-result-comment.lose {
  color: blue;
}

.sub-result-comment.draw {
  color: orange;
}

/* サブ画面　OKボタン */
.sub-start-ok {
  display: block;
  text-decoration: none;
  background: #87befd;
  color: #fff;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #87befd;
  border: dashed 1px #fff;
  transition: 0.4s;
  font-size: 3rem;
  margin: 0 auto;
}

.sub-start-ok:hover {
  background: #668ad8;
  box-shadow: 0px 0px 0px 5px #668ad8;
  cursor: pointer;
}

/* サブ画面　じゃんけん選択 */
/* サブ画面　あっちむいてホイ選択 */
.janken {
  display: block;
  width: 50%;
}

.janken.not-select,
.hoi-select.not-select,
.hoi-select-r.not-select {
  opacity: 0.3;
}

.janken.-guu,
.hoi-select.-up,
.hoi-select.-down,
.hoi-select-r.-up,
.hoi-select-r.-down {
  margin: 0 auto;
}

.janken.-choki,
.janken.-paa,
.hoi-select.-left,
.hoi-select-r.-left {
  float: left;
}

.hoi-select.-right,
.hoi-select-r.-right {
  float: right;
}

.hoi-select,
.hoi-select-r {
  background: none;
  border: none;
  color: #d30;
  font-size: 9rem;
}

.fas.hoi-select,
.fas.hoi-select-r {
  display: block;
}

.hoi-select:hover {
  color: #000;
  cursor: pointer;
}

.fas.hoi-select.-up,
.fas.hoi-select.-down,
.fas.hoi-select-r.-up,
.fas.hoi-select-r.-down {
  text-align: center;
}

/* 下部------------------------- */
.info-num {
  font-size: 4rem;
  padding-left: 20px;
}

/* テーブル */
.info-table,
.result-table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #fdd;
}

.result-table {
  border: 4px solid #f73;
  font-size: 2.5rem;
  margin: 0 auto;
  width: 80%;
}

.info-table:not(:first-of-type),
.result-table:not(:first-of-type) {
  margin-top: 10px;
}

.info-table-tr,
.result-table-tr {
  text-align: center;
}

.info-table-th,
.result-table-th {
  background: #fdd;
  width: 50%;
}

.result-table-th {
  background: #f73;
  font-size: 3rem;
}

.result-table-tr > td {
  background: #fff;
}

.info-table-empty {
  padding: 20px;
}

.table-num,
.result-table-num {
  font-size: 3rem;
}

/* はじめから */
.game-restart,
.result-replay {
  position: relative;
  display: block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #fff;
  background: #fd9535;
  border: none;
  border-bottom: solid 2px #d27d00;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2),
    0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 3rem;
}

.result-replay {
  border-radius: 50px;
  font-size: 4rem;
  padding: 1.5rem 3rem;
  width: 60%;
}

.game-restart:hover,
.result-replay:hover {
  cursor: pointer;
}
